openapi: 3.0.0
info:
  title: PPM.API
  version: '1.0'
  contact:
    name: Aaron Gatlin
    url: 'http://atriaseniorliving.com'
    email: aaron.gatlin@atriaseniorliving.com
  termsOfService: 'http://termsofservice...'
  description: Product Pricing Management API
servers:
  - url: 'https://stoplight.io/mocks/atriaseniorliving/ppm-api/7163676'
paths:
  '/ASL2/v1/community/{communityNumber}/pricing':
    parameters:
      - name: communityNumber
        in: path
        required: true
        schema:
          type: number
        description: The community number.
    get:
      summary: 'ASL2/v1/community/{communityNumber}/pricing'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    communityStartingAtPrice: '7595.00'
                    communityAddess:
                      address1: ''
                      address2: ''
                      city: ''
                      state: ''
                      zipCode: ''
                    careTypes:
                      - careType: Independent Living
                        roomTypes:
                          - roomType: Studio Deluxe
                            unitSquareFootageRange: 420-505
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '50'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/studio/20810'
                          - roomType: One Bedroom
                            unitSquareFootageRnage: 595-820
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '62'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/one-bedroom/20810'
                          - roomType: Two Bedroom
                            unitSquareFootageRange: 950-1095
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '19'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/two-bedroom/20810'
                      - careType: Assisted Living
                        roomTypes:
                          - roomType: Studio
                            unitSquareFootageRange: 420-505
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '50'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/studio/20810'
                          - roomType: One Bedroom
                            unitSquareFootageRange: 595-820
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '62'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/one-bedroom/20810'
                          - roomType: Two Bedroom
                            unitSquareFootageRange: 950-1095
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '19'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/two-bedroom/20810'
                      - careType: Memory Care
                        roomTypes:
                          - roomType: Studio
                            unitSquareFootageRange: '400'
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '6'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/studio/20810'
                          - roomType: Shared Suite
                            unitSquareFootageRange: 544-801
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '8'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/shared-suite/20810'
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  communityStartingAtPrice:
                    type: string
                    minLength: 1
                  careTypes:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        careType:
                          type: string
                          minLength: 1
                        roomTypes:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            type: object
                            properties:
                              roomType:
                                type: string
                                minLength: 1
                              unitSquareFootageRange:
                                type: string
                                minLength: 1
                              pricing:
                                type: object
                                properties:
                                  singlePrivateRate:
                                    type: string
                                    minLength: 1
                                  semiPrivateRate:
                                    type: string
                                    minLength: 1
                                  respiteRate:
                                    type: string
                                    minLength: 1
                                  startingAtPrice:
                                    type: string
                                    minLength: 1
                                required:
                                  - singlePrivateRate
                                  - semiPrivateRate
                                  - respiteRate
                                  - startingAtPrice
                              vacantRoomCount:
                                type: string
                                minLength: 1
                              bathroomCount:
                                type: number
                              floorPlanURL:
                                type: string
                                minLength: 1
                            required:
                              - roomType
                              - unitSquareFootageRange
                              - vacantRoomCount
                              - bathroomCount
                              - floorPlanURL
                      required:
                        - careType
                required:
                  - communityNumber
                  - communityStartingAtPrice
                  - careTypes
              examples:
                example-1:
                  value:
                    communityNumber: '10844'
                    communityStartingAtPrice: '7595.00'
                    careTypes:
                      - careType: Independent Living
                        roomTypes:
                          - roomType: Studio Deluxe
                            unitSquareFootageRange: 420-505
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '50'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/studio/20810'
                          - roomType: One Bedroom
                            unitSquareFootageRnage: 595-820
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '62'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/one-bedroom/20810'
                          - roomType: Two Bedroom
                            unitSquareFootageRange: 950-1095
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '19'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/two-bedroom/20810'
                      - careType: Assisted Living
                        roomTypes:
                          - roomType: Studio
                            unitSquareFootageRange: 420-505
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '50'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/studio/20810'
                          - roomType: One Bedroom
                            unitSquareFootageRange: 595-820
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '62'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/one-bedroom/20810'
                          - roomType: Two Bedroom
                            unitSquareFootageRange: 950-1095
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '19'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/two-bedroom/20810'
                      - careType: Memory Care
                        roomTypes:
                          - roomType: Studio
                            unitSquareFootageRange: '400'
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '6'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/studio/20810'
                          - roomType: Shared Suite
                            unitSquareFootageRange: 544-801
                            pricing:
                              singlePrivateRate: '7595.00'
                              semiPrivateRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '8'
                            bathroomCount: 1
                            floorPlanURL: 'http://floorplanurl.com/shared-suite/20810'
      operationId: get-v1-community-communityId-apartment
      description: Get community pricing by care type
      parameters: []
      security: []
      tags:
        - ASL 2.0
      x-internal: false
  '/ASL2/v1/community/{communityNumber}':
    parameters:
      - name: communityNumber
        in: path
        required: true
        schema:
          type: number
        description: The community number.
    get:
      summary: 'ASL2/v1/community/{communityNumber}'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    communityStartingAtPrice: '7595.00'
                    digitalAssets:
                      image:
                        - name: tets
                          caption: Lorem ipsum dolor sit am
                          altText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut'
                          urls:
                            thumbnail: 'https://via.placeholder.com/thumb.png'
                            16x9: 'https://via.placeholder.com/16x9.png'
                            4x3: 'https://via.placeholder.com/4x3.png'
                            small: 'https://via.placeholder.com/small.png'
                            large: 'https://via.placeholder.com/large.png'
                    features:
                      - id: electronicKeyEntry
                        label: Electronic Key Entry
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: microwave
                        label: Microwave
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: refrigerator
                        label: Refrigerator
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: cableTV
                        label: Cable TV
                        iconUrl: 'http://theiconurl/sample.svg'
                    services:
                      - id: 24Staff
                        label: 24-Hour Staff
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: conciergeService
                        label: Concierge Service
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: emergencyAlertSystem
                        label: Emergency Alert System
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: vegetarianMeals
                        label: Vegetarian Meals
                        iconUrl: 'http://theiconurl/sample.svg'
                    amenities:
                      - id: restaurantTableService
                        label: Restaurant with Table Service
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: bistro
                        label: Bistro
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: pub
                        label: Pub
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: indoorSwimmingPool
                        label: Indoor Swimming Pool
                        iconUrl: 'http://theiconurl/sample.svg'
                    pricing:
                      careTypes:
                        - careType: Assisted Living
                          roomTypes:
                            - roomType: Studio
                              unitSquareFootageRange: 420-505
                              pricing:
                                rentalRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '50'
                              floorPlanURL: 'http://floorplanurl.com/studio/20810'
                            - roomType: One Bedroom
                              unitSquareFootageRnage: 595-820
                              pricing:
                                rentalRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '62'
                              floorPlanURL: 'http://floorplanurl.com/one-bedroom/20810'
                            - roomType: Two Bedroom
                              unitSquareFootageRange: 950-1095
                              pricing:
                                rentalRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '19'
                              floorPlanURL: 'http://floorplanurl.com/two-bedroom/20810'
                        - careType: Memory Care
                          roomTypes:
                            - roomType: Studio
                              unitSquareFootageRange: '400'
                              pricing:
                                rentalRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '6'
                              floorPlanURL: 'http://floorplanurl.com/studio/20810'
                            - roomType: Shared Suite
                              unitSquareFootageRange: 544-801
                              pricing:
                                rentalRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '8'
                              floorPlanURL: 'http://floorplanurl.com/one-bedroom/shared-suite/20810'
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  communityStartingAtPrice:
                    type: string
                    minLength: 1
                  communityAddress:
                    type: object
                    properties:
                      address1:
                        type: string
                      address2:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      zipCode:
                        type: string
                  digitalAssets:
                    type: object
                    required:
                      - image
                    properties:
                      image:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              minLength: 1
                            caption:
                              type: string
                              minLength: 1
                            altText:
                              type: string
                              minLength: 1
                            urls:
                              type: object
                              properties:
                                thumbnail:
                                  type: string
                                  minLength: 1
                                16x9:
                                  type: string
                                  minLength: 1
                                4x3:
                                  type: string
                                  minLength: 1
                                small:
                                  type: string
                                  minLength: 1
                                large:
                                  type: string
                                  minLength: 1
                              required:
                                - thumbnail
                                - 16x9
                                - 4x3
                                - small
                                - large
                          required:
                            - name
                            - caption
                            - altText
                      '':
                        type: string
                  features:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        iconUrl:
                          type: string
                          minLength: 1
                      required:
                        - id
                        - label
                        - iconUrl
                  services:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        iconUrl:
                          type: string
                          minLength: 1
                      required:
                        - id
                        - label
                        - iconUrl
                  amenities:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        iconUrl:
                          type: string
                          minLength: 1
                      required:
                        - id
                        - label
                        - iconUrl
                  pricing:
                    type: object
                    required:
                      - careTypes
                    properties:
                      careTypes:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            careType:
                              type: string
                              minLength: 1
                            roomTypes:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  roomType:
                                    type: string
                                    minLength: 1
                                  unitSquareFootageRange:
                                    type: string
                                    minLength: 1
                                  pricing:
                                    type: object
                                    properties:
                                      rentalRate:
                                        type: string
                                        minLength: 1
                                      respiteRate:
                                        type: string
                                        minLength: 1
                                      startingAtPrice:
                                        type: string
                                        minLength: 1
                                    required:
                                      - rentalRate
                                      - respiteRate
                                      - startingAtPrice
                                  vacantRoomCount:
                                    type: string
                                    minLength: 1
                                  floorPlanURL:
                                    type: string
                                    minLength: 1
                                  bathroomCount:
                                    type: integer
                                  '':
                                    type: string
                                required:
                                  - roomType
                                  - unitSquareFootageRange
                                  - vacantRoomCount
                                  - floorPlanURL
                          required:
                            - careType
                required:
                  - communityNumber
                  - communityStartingAtPrice
                  - digitalAssets
                  - features
                  - services
                  - amenities
                  - pricing
              examples:
                example-1:
                  value:
                    communityNumber: '10844'
                    communityAddess:
                      address1: 300 East Market Street
                      address2: Suite 100
                      city: Louisville
                      state: KY
                      zipCode: '40202'
                    digitalAssets:
                      image:
                        - name: test
                          caption: Lorem ipsum dolor sit am
                          altText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut'
                          urls:
                            thumbnail: 'https://via.placeholder.com/thumb.png'
                            16x9: 'https://via.placeholder.com/16x9.png'
                            4x3: 'https://via.placeholder.com/4x3.png'
                            small: 'https://via.placeholder.com/small.png'
                            large: 'https://via.placeholder.com/large.png'
                    features:
                      - id: electronicKeyEntry
                        label: Electronic Key Entry
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: microwave
                        label: Microwave
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: refrigerator
                        label: Refrigerator
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: cableTV
                        label: Cable TV
                        iconUrl: 'http://theiconurl/sample.svg'
                    services:
                      - id: 24Staff
                        label: 24-Hour Staff
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: conciergeService
                        label: Concierge Service
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: emergencyAlertSystem
                        label: Emergency Alert System
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: vegetarianMeals
                        label: Vegetarian Meals
                        iconUrl: 'http://theiconurl/sample.svg'
                    amenities:
                      - id: restaurantTableService
                        label: Restaurant with Table Service
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: bistro
                        label: Bistro
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: pub
                        label: Pub
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: indoorSwimmingPool
                        label: Indoor Swimming Pool
                        iconUrl: 'http://theiconurl/sample.svg'
                    pricing:
                      communityStartingAtPrice: '7595.00'
                      careTypes:
                        - careType: Independent Living
                          roomTypes:
                            - roomType: Studio Deluxe
                              unitSquareFootageRange: 420-505
                              pricing:
                                singlePrivateRate: '7595.00'
                                semiPrivateRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '50'
                              bathroomCount: '1'
                              floorPlanURL: 'http://floorplanurl.com/studio/20810'
                            - roomType: One Bedroom
                              unitSquareFootageRnage: 595-820
                              pricing:
                                singlePrivateRate: '7595.00'
                                semiPrivateRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '62'
                              bathroomCount: '1'
                              floorPlanURL: 'http://floorplanurl.com/one-bedroom/20810'
                            - roomType: Two Bedroom
                              unitSquareFootageRange: 950-1095
                              pricing:
                                singlePrivateRate: '7595.00'
                                semiPrivateRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '19'
                              bathroomCount: '1'
                              floorPlanURL: 'http://floorplanurl.com/two-bedroom/20810'
                        - careType: Assisted Living
                          roomTypes:
                            - roomType: Studio
                              unitSquareFootageRange: 420-505
                              pricing:
                                singlePrivateRate: '7595.00'
                                semiPrivateRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '50'
                              bathroomCount: 1
                              floorPlanURL: 'http://floorplanurl.com/studio/20810'
                            - roomType: One Bedroom
                              unitSquareFootageRnage: 595-820
                              pricing:
                                singlePrivateRate: '7595.00'
                                semiPrivateRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '62'
                              bathroomCount: 1
                              floorPlanURL: 'http://floorplanurl.com/one-bedroom/20810'
                            - roomType: Two Bedroom
                              unitSquareFootageRange: 950-1095
                              pricing:
                                singlePrivateRate: '7595.00'
                                semiPrivateRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '19'
                              bathroomCount: 1
                              floorPlanURL: 'http://floorplanurl.com/two-bedroom/20810'
                        - careType: Memory Care
                          roomTypes:
                            - roomType: Studio
                              unitSquareFootageRange: '400'
                              pricing:
                                singlePrivateRate: '7595.00'
                                semiPrivateRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '6'
                              bathroomCount: 1
                              floorPlanURL: 'http://floorplanurl.com/studio/20810'
                            - roomType: Shared Suite
                              unitSquareFootageRange: 544-801
                              pricing:
                                singlePrivateRate: '7595.00'
                                semiPrivateRate: '7595.00'
                                respiteRate: '299.00'
                                startingAtPrice: '7595.00'
                              vacantRoomCount: '8'
                              bathroomCount: 1
                              floorPlanURL: 'http://floorplanurl.com/one-bedroom/shared-suite/20810'
        '':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  communityStartingAtPrice:
                    type: string
                    minLength: 1
                  digitalAssets:
                    type: object
                    properties:
                      image:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - name
                            - caption
                            - altText
                          properties:
                            name:
                              type: string
                              minLength: 1
                            caption:
                              type: string
                              minLength: 1
                            altText:
                              type: string
                              minLength: 1
                            urls:
                              type: object
                              properties:
                                thumbnail:
                                  type: string
                                  minLength: 1
                                16x9:
                                  type: string
                                  minLength: 1
                                4x3:
                                  type: string
                                  minLength: 1
                                small:
                                  type: string
                                  minLength: 1
                                large:
                                  type: string
                                  minLength: 1
                              required:
                                - thumbnail
                                - 16x9
                                - 4x3
                                - small
                                - large
                    required:
                      - image
                  features:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - label
                        - iconUrl
                      properties:
                        id:
                          type: string
                        label:
                          type: string
                          minLength: 1
                        iconUrl:
                          type: string
                  services:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - label
                        - iconUrl
                      properties:
                        id:
                          type: string
                        label:
                          type: string
                          minLength: 1
                        iconUrl:
                          type: string
                  amenities:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - label
                        - iconUrl
                      properties:
                        id:
                          type: string
                        label:
                          type: string
                          minLength: 1
                        iconUrl:
                          type: string
                  careTypes:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - careType
                      properties:
                        careType:
                          type: string
                          minLength: 1
                        roomTypes:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - roomType
                              - unitSquareFootageRange
                              - vacantRoomCount
                              - floorPlanURL
                            properties:
                              roomType:
                                type: string
                                minLength: 1
                              unitSquareFootageRange:
                                type: string
                                minLength: 1
                              pricing:
                                type: object
                                properties:
                                  rentalRate:
                                    type: string
                                    minLength: 1
                                  respiteRate:
                                    type: string
                                    minLength: 1
                                  startingAtPrice:
                                    type: string
                                    minLength: 1
                                required:
                                  - rentalRate
                                  - respiteRate
                                  - startingAtPrice
                              vacantRoomCount:
                                type: string
                                minLength: 1
                              floorPlanURL:
                                type: string
                                minLength: 1
                required:
                  - communityNumber
                  - communityStartingAtPrice
                  - digitalAssets
                  - features
                  - services
                  - amenities
                  - careTypes
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    communityStartingAtPrice: '7595.00'
                    digitalAssets:
                      image:
                        - name: tets
                          caption: Lorem ipsum dolor sit am
                          altText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut'
                          urls:
                            thumbnail: 'https://via.placeholder.com/thumb.png'
                            16x9: 'https://via.placeholder.com/16x9'
                            4x3: 'https://via.placeholder.com/4x3'
                            small: 'https://via.placeholder.com/small'
                            large: 'https://via.placeholder.com/large'
                    features:
                      - id: ''
                        label: Electronic Key Entry
                        iconUrl: ''
                      - id: ''
                        label: Microwave
                        iconUrl: ''
                      - id: ''
                        label: Refrigerator
                        iconUrl: ''
                      - id: ''
                        label: Cable TV
                        iconUrl: ''
                    services:
                      - id: ''
                        label: 24-Hour Staff
                        iconUrl: ''
                      - id: ''
                        label: Concierge Service
                        iconUrl: ''
                      - id: ''
                        label: Emergency Alert System
                        iconUrl: ''
                      - id: ''
                        label: Vegetarian Meals
                        iconUrl: ''
                    amenities:
                      - id: ''
                        label: Restaurant with Table Service
                        iconUrl: ''
                      - id: ''
                        label: Bistro
                        iconUrl: ''
                      - id: ''
                        label: Pub
                        iconUrl: ''
                      - id: ''
                        label: Indoor Swimming Pool
                        iconUrl: ''
                    careTypes:
                      - careType: Assisted Living
                        roomTypes:
                          - roomType: Studio
                            unitSquareFootageRange: 420-505
                            pricing:
                              rentalRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '50'
                            floorPlanURL: 'http://floorplanurl.com/studio/20810'
                          - roomType: One Bedroom
                            unitSquareFootageRnage: 595-820
                            pricing:
                              rentalRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '62'
                            floorPlanURL: 'http://floorplanurl.com/one-bedroom/20810'
                          - roomType: Two Bedroom
                            unitSquareFootageRange: 950-1095
                            pricing:
                              rentalRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '19'
                            floorPlanURL: 'http://floorplanurl.com/two-bedroom/20810'
                      - careType: Memory Care
                        roomTypes:
                          - roomType: Studio
                            unitSquareFootageRange: '400'
                            pricing:
                              rentalRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '6'
                            floorPlanURL: 'http://floorplanurl.com/studio/20810'
                          - roomType: Shared Suite
                            unitSquareFootageRange: 544-801
                            pricing:
                              rentalRate: '7595.00'
                              respiteRate: '299.00'
                              startingAtPrice: '7595.00'
                            vacantRoomCount: '8'
                            floorPlanURL: 'http://floorplanurl.com/one-bedroom/shared-suite/20810'
      operationId: get-v1-community-communityId-apartment
      description: 'Get community details (pricing, services, amenities, features and digital assets)'
      parameters: []
      security: []
      tags:
        - ASl 2.0
  '/ASL2/v1/community/{communityNumber}/features':
    parameters:
      - name: communityNumber
        in: path
        required: true
        schema:
          type: number
        description: The community number.
    get:
      summary: 'ASL2/v1/community/{communityNumber}/features'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    services:
                      - id: 24staff
                        label: 24-Hour Staff
                      - id: conciergeService
                        label: Concierge Service
                      - id: emergencyAlertSystem
                        label: Emergency Alert System
                      - id: '???'
                        label: Vegetarian Meals
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  services:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        iconUrl:
                          type: string
                      required:
                        - id
                        - label
                required:
                  - communityNumber
                  - services
              examples:
                example-1:
                  value:
                    communityNumber: '10844'
                    features:
                      - id: electronicKeyEntry
                        label: Electronic Key Entry
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: microwave
                        label: Microwave
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: refrigerator
                        label: Refrigerator
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: cableTV
                        label: Cable TV
                        iconUrl: 'http://theiconurl/sample.svg'
        '':
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    services:
                      - id: 24staff
                        label: 24-Hour Staff
                      - id: conciergeService
                        label: Concierge Service
                      - id: emergencyAlertSystem
                        label: Emergency Alert System
                      - id: '???'
                        label: Vegetarian Meals
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  features:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                      required:
                        - id
                        - label
                required:
                  - communityNumber
                  - features
      operationId: get-v1-community-communityId-apartment
      description: Get community features
      parameters: []
      security: []
      tags:
        - ASL 2.0
  '/ASL2/v1/community/{communityNumber}/amenities':
    parameters:
      - name: communityNumber
        in: path
        required: true
        schema:
          type: number
        description: The community number.
    get:
      summary: 'ASL2/v1/community/{communityNumber}/amenities'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    ammenities:
                      - id: '???'
                        label: Restaurant with Table Service
                      - id: '???'
                        label: Bistro
                      - id: '???'
                        label: Pub
                      - id: '???'
                        label: Indoor Swimming Pool
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  ammenities:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        iconUrl:
                          type: string
                      required:
                        - id
                        - label
                required:
                  - communityNumber
                  - ammenities
              examples:
                example-1:
                  value:
                    communityNumber: '10844'
                    amenities:
                      - id: restaurantTableService
                        label: Restaurant with Table Service
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: bistro
                        label: Bistro
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: pub
                        label: Pub
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: indoorSwimmingPool
                        label: Indoor Swimming Pool
                        iconUrl: 'http://theiconurl/sample.svg'
        '':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  amenities:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - label
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                required:
                  - communityNumber
                  - amenities
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    amenities:
                      - id: '???'
                        label: Restaurant with Table Service
                      - id: '???'
                        label: Bistro
                      - id: '???'
                        label: Pub
                      - id: '???'
                        label: Indoor Swimming Pool
      operationId: get-v1-community-communityId-apartment
      description: Get community amenities
      parameters: []
      security: []
      tags:
        - ASL 2.0
  '/ASL2/v1/community/{communityNumber}/services':
    parameters:
      - name: communityNumber
        in: path
        required: true
        schema:
          type: number
        description: The community number.
    get:
      summary: 'ASL2/v1/community/{communityNumber}/services'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    services:
                      - id: 24staff
                        label: 24-Hour Staff
                      - id: conciergeService
                        label: Concierge Service
                      - id: emergencyAlertSystem
                        label: Emergency Alert System
                      - id: '???'
                        label: Vegetarian Meals
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  services:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                        iconUrl:
                          type: string
                      required:
                        - id
                        - label
                required:
                  - communityNumber
                  - services
              examples:
                example-1:
                  value:
                    communityNumber: '10844'
                    services:
                      - id: 24Staff
                        label: 24-Hour Staff
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: conciergeService
                        label: Concierge Service
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: emergencyAlertSystem
                        label: Emergency Alert System
                        iconUrl: 'http://theiconurl/sample.svg'
                      - id: vegetarianMeals
                        label: Vegetarian Meals
                        iconUrl: 'http://theiconurl/sample.svg'
        '':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  services:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - label
                      properties:
                        id:
                          type: string
                          minLength: 1
                        label:
                          type: string
                          minLength: 1
                required:
                  - communityNumber
                  - services
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    services:
                      - id: 24staff
                        label: 24-Hour Staff
                      - id: conciergeService
                        label: Concierge Service
                      - id: emergencyAlertSystem
                        label: Emergency Alert System
                      - id: '???'
                        label: Vegetarian Meals
      operationId: get-v1-community-communityId-apartment
      description: Get community services
      parameters: []
      security: []
      tags:
        - ASL 2.0
  '/ASL2/v1/community/{communityNumber}/digitalassets':
    parameters:
      - name: communityNumber
        in: path
        required: true
        schema:
          type: number
        description: The community number.
    get:
      summary: 'ASL2/v1/community/{communityNumber}/digitalassets'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  digitalAssets:
                    type: object
                    properties:
                      image:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - caption
                            - altText
                          properties:
                            caption:
                              type: string
                              minLength: 1
                            altText:
                              type: string
                              minLength: 1
                            urls:
                              type: object
                              properties:
                                thumbnail:
                                  type: string
                                  minLength: 1
                                16x9:
                                  type: string
                                  minLength: 1
                                4x3:
                                  type: string
                                  minLength: 1
                                small:
                                  type: string
                                  minLength: 1
                                large:
                                  type: string
                                  minLength: 1
                              required:
                                - thumbnail
                                - 16x9
                                - 4x3
                                - small
                                - large
                    required:
                      - image
                required:
                  - communityNumber
                  - digitalAssets
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    digitalAssets:
                      image:
                        - caption: Lorem ipsum dolor sit am
                          altText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut'
                          urls:
                            thumbnail: 'https://via.placeholder.com/thumb.png'
                            16x9: 'https://via.placeholder.com/16x9'
                            4x3: 'https://via.placeholder.com/4x3'
                            small: 'https://via.placeholder.com/small'
                            large: 'https://via.placeholder.com/large'
              examples:
                example-1:
                  value:
                    communityNumber: string
                    digitalAssets:
                      images:
                        - name: tets
                          caption: Lorem ipsum dolor sit am
                          altText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut'
                          urls:
                            thumbnail: 'https://via.placeholder.com/thumb.png'
                            16x9: 'https://via.placeholder.com/16x9.png'
                            4x3: 'https://via.placeholder.com/4x3.png'
                            small: 'https://via.placeholder.com/small.png'
                            large: 'https://via.placeholder.com/large.png'
        '':
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    communityNumber: '10844'
                    digitalAssets:
                      image:
                        - caption: Lorem ipsum dolor sit am
                          altText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut'
                          urls:
                            thumbnail: 'https://via.placeholder.com/thumb.png'
                            16x9: 'https://via.placeholder.com/16x9'
                            4x3: 'https://via.placeholder.com/4x3'
                            small: 'https://via.placeholder.com/small'
                            large: 'https://via.placeholder.com/large'
                properties:
                  communityNumber:
                    type: string
                    minLength: 1
                  digitalAssets:
                    type: object
                    required:
                      - image
                    properties:
                      image:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            caption:
                              type: string
                              minLength: 1
                            altText:
                              type: string
                              minLength: 1
                            urls:
                              type: object
                              properties:
                                thumbnail:
                                  type: string
                                  minLength: 1
                                16x9:
                                  type: string
                                  minLength: 1
                                4x3:
                                  type: string
                                  minLength: 1
                                small:
                                  type: string
                                  minLength: 1
                                large:
                                  type: string
                                  minLength: 1
                              required:
                                - thumbnail
                                - 16x9
                                - 4x3
                                - small
                                - large
                          required:
                            - caption
                            - altText
                required:
                  - communityNumber
                  - digitalAssets
          description: ''
      operationId: get-v1-community-communityId-apartment
      description: Get community digital asset.
      parameters: []
      security: []
      tags:
        - ASL 2.0
  '/Coterie//v1/community/{communityNumber}/apartments':
    parameters:
      - name: communityNumber
        in: path
        required: true
        schema:
          type: number
        description: The community number.
    get:
      summary: 'Coterie/v1/community/{communityNumber}/apartments'
      responses:
        '200':
          $ref: '#/components/responses/Apartments'
      operationId: get-v1-community-communityId-apartment
      description: Get community apartment data.
      parameters: []
      security: []
      tags:
        - Coterie
  '/Coterie//v1/community/{communityNumber}/apartments/{apartmentNumber}':
    parameters:
      - name: communityNumber
        in: path
        required: true
        schema:
          type: number
        description: The community number.
      - name: apartmentNumber
        in: path
        required: true
        schema:
          type: number
        description: The apartment number.
    get:
      summary: 'Coterie/v1/community/{communityNumber}/apartments/{apartmentNumber}'
      responses:
        '200':
          $ref: '#/components/responses/Apartments'
      operationId: get-v1-community-communityNumber-apartments-apr
      security: []
      description: Get community apartment data by apartment number
      tags:
        - Coterie
  '/Coterie//v1/community/{communityNumber}/apartments/{apartmentNumber}/marketingSpecifications':
    parameters:
      - name: communityNumber
        in: path
        required: true
        schema:
          type: number
        description: The community number.
      - name: apartmentNumber
        in: path
        required: true
        schema:
          type: number
        description: The apartment number.
    get:
      summary: 'Coterie/v1/community/{communityNumber}/apartments/{apartmentNumber}/marketingSpecifications'
      responses:
        '200':
          $ref: '#/components/responses/MarketingSpecifications'
      operationId: get-v1-community-communityNumber-apartments-apartmentNumber-marketingSpecifications
      security: []
      description: Get marketing specifications by apartment
      tags:
        - Coterie
components:
  schemas:
    Apartment:
      description: Community room information (alternate model)
      type: object
      x-examples:
        Apartment Model Example:
          apartmentNumber: '301'
          isFeatured: true
          rentalRate: $2000.00
          respiteRate: $250.00
          availabilityToMarket: 5
          attributes:
            - name: Floor Level
              value: '3'
              type: ''
              sortOrder: 1
            - name: Gross Unit Area
              value: '500'
              type: ''
              sortOrder: 2
            - name: Bedroom Count
              value: '2'
              type: ''
              sortOrder: 3
            - name: Bathroom Count
              value: '2'
              type: ''
              sortOrder: 4
            - name: Kitchen Type
              value: Kitchenette
              type: ''
              sortOrder: 5
            - name: Room View
              value: Premium
              type: ''
              sortOrder: 6
            - name: Closet Space
              value: Standard
              type: ''
              sortOrder: 7
            - name: Balcony Patio
              value: string
              type: ''
              sortOrder: 8
            - name: Washer Dryer
              value: Stackable Units
              type: ''
              sortOrder: 9
          digitalAssets:
            floorPlans:
              images:
                - title: Image Title 1
                  description: Clever marketing copy
                  url: 'http://...'
                  sortOrder: 1
                  isFeatured: true
                - title: Image Title 2
                  description: Clever marketing copy
                  url: 'http://...'
                  sortOrder: 2
                  isFeatured: true
              videos:
                - title: Video Title 1
                  description: Clever marketing copy
                  url: 'http://...'
                  sortOrder: 1
                  isFeatured: true
                - title: Video Title 2
                  description: Clever marketing copy
                  url: 'http://...'
                  sortOrder: 2
                  isFeatured: true
              documents:
                - title: Floorpan Doc 1
                  description: Clever marketing copy
                  url: 'http://...'
              virtualTours:
                - title: Virtual Tour Title
                  description: Clever marketing copy
                  url: 'http://...'
          marketingSpecifications:
            - title: Security
              description: Clever marketing copy
              sortOrder: 1
            - title: Kitchen
              description: Clever marketing copy
              sortOrder: 2
            - title: Patio/Balcony
              description: Clever marketing copy
              sortOrder: 3
            - title: Closets
              description: Clever marketing copy
              sortOrder: 4
            - title: Housekeeping & Linen Services
              description: Clever marketing copy
              sortOrder: 5
      properties:
        apartmentNumber:
          type: string
          minLength: 1
        isFeatured:
          type: boolean
        rentalRate:
          type: string
          minLength: 1
        respiteRate:
          type: string
          minLength: 1
        availabilityToMarket:
          type: number
        roomType:
          type: string
        careType:
          type: string
        attributes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
              type:
                type: string
              sortOrder:
                type: number
        digitalAssets:
          type: object
          properties:
            FloorPlans:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        isFeatured:
                          type: number
                        sortOrder:
                          type: number
                        url:
                          type: string
                  documents:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        sortOrder:
                          type: number
                        url:
                          type: string
                  virtualTours:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        sortOrder:
                          type: number
                        url:
                          type: string
        marketingSpecifications:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            type: object
            properties:
              title:
                type: string
                minLength: 1
              description:
                type: string
                minLength: 1
              sortOrder:
                type: number
            required:
              - title
              - description
      required:
        - apartmentNumber
        - isFeatured
        - rentalRate
        - respiteRate
        - availabilityToMarket
        - attributes
        - digitalAssets
        - marketingSpecifications
    MarketingSpecification:
      description: ''
      type: object
      properties:
        title:
          type: string
          minLength: 1
        description:
          type: string
          minLength: 1
        sortOrder:
          type: number
      required:
        - title
        - description
        - sortOrder
      x-examples:
        Marketing Specification:
          title: string
          description: string
          sortOrder: 0
  responses:
    Apartments:
      description: Example response
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              communityNumber:
                type: number
              apartments:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  $ref: '#/components/schemas/Apartment'
            required:
              - communityNumber
              - apartments
          examples:
            Apartments Response:
              value:
                communityNumber: 12305
                apartments:
                  - apartmentNumber: '301'
                    isFeatured: true
                    rentalRate: $2000.00
                    respiteRate: $250.00
                    availabilityToMarket: 5
                    attributes:
                      - name: Floor Level
                        value: '3'
                        type: ''
                        sortOrder: 1
                      - name: Gross Unit Area
                        value: '500'
                        type: ''
                        sortOrder: 2
                      - name: Bedroom Count
                        value: '2'
                        type: ''
                        sortOrder: 3
                      - name: Bathroom Count
                        value: '2'
                        type: ''
                        sortOrder: 4
                      - name: Kitchen Type
                        value: Kitchenette
                        type: ''
                        sortOrder: 5
                      - name: Room View
                        value: Premium
                        type: ''
                        sortOrder: 6
                      - name: Closet Space
                        value: Standard
                        type: ''
                        sortOrder: 7
                      - name: Balcony Patio
                        value: string
                        type: ''
                        sortOrder: 8
                      - name: Washer Dryer
                        value: Stackable Units
                        type: ''
                        sortOrder: 9
                    digitalAssets:
                      floorPlans:
                        images:
                          - title: Image Title 1
                            description: Clever marketing copy
                            url: 'http://...'
                            sortOrder: 1
                            isFeatured: true
                          - title: Image Title 2
                            description: Clever marketing copy
                            url: 'http://...'
                            sortOrder: 2
                            isFeatured: true
                        videos:
                          - title: Video Title 1
                            description: Clever marketing copy
                            url: 'http://...'
                            sortOrder: 1
                            isFeatured: true
                          - title: Video Title 2
                            description: Clever marketing copy
                            url: 'http://...'
                            sortOrder: 2
                            isFeatured: true
                        documents:
                          - title: Floorpan Doc 1
                            description: Clever marketing copy
                            url: 'http://...'
                        virtualTours:
                          - title: Virtual Tour Title
                            description: Clever marketing copy
                            url: 'http://...'
                    marketingSpecifications:
                      - title: Security
                        description: Clever marketing copy
                        sortOrder: 1
                      - title: Kitchen
                        description: Clever marketing copy
                        sortOrder: 2
                      - title: Patio/Balcony
                        description: Clever marketing copy
                        sortOrder: 3
                      - title: Closets
                        description: Clever marketing copy
                        sortOrder: 4
                      - title: Housekeeping & Linen Services
                        description: Clever marketing copy
                        sortOrder: 5
      headers: {}
    MarketingSpecifications:
      description: Example response
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              communityNumber:
                type: number
              apartmentNumber:
                type: number
              marketingSpecifications:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  $ref: '#/components/schemas/MarketingSpecification'
            required:
              - communityNumber
              - apartmentNumber
              - marketingSpecifications
          examples:
            Marketing Specifications Response:
              value:
                communityNumber: 12305
                apartmentNumber: 125
                marketingSpecifications:
                  - title: Security
                    description: Clever marketing copy
                    sortOrder: 1
                  - title: Kitchen
                    description: Clever marketing copy
                    sortOrder: 2
                  - title: Patio/Balcony
                    description: Clever marketing copy
                    sortOrder: 3
                  - title: Closets
                    description: Clever marketing copy
                    sortOrder: 4
                  - title: Housekeeping & Linen Services
                    description: Clever marketing copy
                    sortOrder: 5
  securitySchemes:
    ApiKey:
      name: x41s541c5s1c5s1cs5
      type: apiKey
      in: header
      description: ''
  parameters:
    communityNumber:
      name: communityNumber
      in: path
      required: true
      schema:
        type: number
      description: The community number.
    apartmentNumber:
      name: apartmentNumber
      in: path
      required: true
      schema:
        type: number
      description: The apartment number.
security:
  - ApiKey: []
tags:
  - name: Apartment
    description: Apartment grouping
